<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.unisalento.iit"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".IITMonitorApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".graph.DatiSalvatiActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".uart.ConnectActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".uart.ComandoActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".graph.GraficiSeparati" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".graph.GraficoActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SplashScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".uart.UARTService"
            android:label="@string/uart_feature_title" />
    </application>

</manifest>